# Pymaceuticals Inc.
---

### Analysis
* Your analysis here ...

In [9]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# will involve iqr and quartiles so check statistincs in day 3 
# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset
summary_df = pd.merge(study_results, mouse_metadata, on="Mouse ID", how="outer")

In [10]:
# Display the data table for preview
summary_df.head()

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.000000,0,Capomulin,Female,9,22
1,b128,5,45.651331,0,Capomulin,Female,9,22
2,b128,10,43.270852,0,Capomulin,Female,9,22
3,b128,15,43.784893,0,Capomulin,Female,9,22
4,b128,20,42.731552,0,Capomulin,Female,9,22

In [11]:
# Checking the number of mice.
total_mice = len(summary_df["Mouse ID"].unique())
total_mice

249

In [27]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
# use duplicated to isolate duplicated values
duplicate_mice_df = summary_df[summary_df.duplicated()]
# call the specified column Mouse ID and convert into an array so it becomes callable in loc later
duplicate_mice = duplicate_mice_df["Mouse ID"].array
duplicate_mice[0]

'g989'

In [28]:
# Optional: Get all the data for the duplicate mouse ID. 

# use loc to find all of the duplicates. In this case there is only 1
# there is no need for a list comphrension to iterate through an array of duplicates
duplicate_mice_all = summary_df.loc[summary_df["Mouse ID"] == duplicate_mice[0]]
duplicate_mice_all

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
860,g989,0,45.000000,0,Propriva,Female,21,26
861,g989,0,45.000000,0,Propriva,Female,21,26
862,g989,5,48.786801,0,Propriva,Female,21,26
863,g989,5,47.570392,0,Propriva,Female,21,26
864,g989,10,51.745156,0,Propriva,Female,21,26
865,g989,10,49.880528,0,Propriva,Female,21,26
866,g989,15,51.325852,1,Propriva,Female,21,26
867,g989,15,53.442020,0,Propriva,Female,21,26
868,g989,20,55.326122,1,Propriva,Female,21,26
869,g989,20,54.657650,1,Propriva,Female,21,26
870,g989,25,56.045564,1,Propriva,Female,21,26
871,g989,30,59.082294,1,Propriva,Female,21,26
872,g989,35,62.570880,2,Propriva,Female,21,26

In [29]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
summary_df = summary_df[summary_df["Mouse ID"] != duplicate_mice[0]]
summary_df.head()

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.000000,0,Capomulin,Female,9,22
1,b128,5,45.651331,0,Capomulin,Female,9,22
2,b128,10,43.270852,0,Capomulin,Female,9,22
3,b128,15,43.784893,0,Capomulin,Female,9,22
4,b128,20,42.731552,0,Capomulin,Female,9,22

In [30]:
# Checking the number of mice in the clean DataFrame.
total_mice = len(summary_df["Mouse ID"].unique())
total_mice

248